<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phillip Rekhotho Blog</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/special-button.css">
    <link rel="stylesheet" href="/highlighter.css">
    <link rel="stylesheet" href="/server-message.css">

    <script src="index.js" defer></script>

</head>

<body>

    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>

    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>

    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
    <p>
        Hi welcome to flame scripting
        I am Phillip. This blog will
        focus on JavaScript programming.
    </p>
</body>

</html>